
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a {
    color: #ff6a00;
}

a {
    color: #ff6a00;
    font-family: 'º–∑¢≈È';
    font-weight: bold;
}

.btn.btn-primary:hover {
    background-color: #ff6a00;
}
.btn-submit:hover {
    background-color: #ff0000;
    color:#ffffff;
}

a:hover, a:focus {
    color: #ff6a00;
}

.main-nav,
.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover, .twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-loadmore:hover,
.btn-submit,
#footer,
.caption .btn-start:hover,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
    background-color: #ff6a00;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover {
    border: 1px solid #ff6a00;
}

.caption .btn-start:hover,
.left-control:hover,
.right-control:hover {
    border-color: #ff6a00;
}

.twitter-icon .fa-twitter:after {
    border-color: #ff6a00 transparent transparent;
}
