
@{
    ViewBag.Title = "ChartReport";
}


@section style{

    <style>
        .chart {
            width:85%;
            height:350px;
        }
    </style>
}

@section script{
<script src="~/Areas/yuwang/Scripts/highcharts(js)/highcharts.js"></script>
    @*<script src="~/Areas/yuwang/Scripts/highcharts(js)/js/highcharts.js" type="text/javascript"></script>*@
    @*<script src="http://code.highcharts.com/highcharts.js"></script>*@
    <script>
        var members_register_chart;
        var pie_chart;
        var pie_chart_member;
        var bar_chart_sales;
        $(document).ready(function () {
            $('#report').click(function(){
            
                //註冊會員趨勢圖
                members_register_chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'members_register_chart',
                        defaultSeriesType: 'areaspline',
                        events: {
                            //圖表載入後執行GetReportData這個Function
                            load: GetRegisteredMembers
                        }
                    },
                    title: {
                        text: '每月會員註冊數'
                    },
                    //自訂X軸座標，也可以從Server塞資料進來
                    xAxis: {
                        categories: ["一月", "二月", "三月" ]
                    },
                    yAxis: {
                        title: {
                            text: '註冊會員數'
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            //這地方有什麼資料可用可以開FireBug來看
                            //也可以從後端傳進來
                            return '一般會員:' + this.points[0].y + '<br/>餐廳會員:' + this.points[1].y;

                        },
                        shared: true,
                        crosshairs: true
                    },
                    //兩份資料，一開始都是空的
                    series: [{
                        name: '一般會員',
                        data: [],
                        fillOpacity: 0.5
                    }, {
                        name: '餐廳會員',
                        data: [],
                        fillOpacity: 0.4
                    }]
                });


                // 台北市的餐廳店家數依照區分類的圓餅圖
                pie_chart = new Highcharts.chart('pie_chart', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        events: {
                            //圖表載入後執行GetReportData這個Function
                            load: GetResAreas
                        }
                    },
                    title: {
                        text: '台北市餐廳會員區域分布'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: '比例',
                        colorByPoint: true,
                        data: []
                    }]
                });

                // 台北市的一般會員數依照區分類的圓餅圖
                pie_chart_member = new Highcharts.chart('pie_chart_member', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        events: {
                            //圖表載入後執行GetReportData這個Function
                            load: GetMemAreas
                        }
                    },
                    title: {
                        text: '台北市一般會員區域分布'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: '比例',
                        colorByPoint: true,
                        data: []
                    }]
                });
            })

     
            //非同步叫用註冊會員資料
            function GetRegisteredMembers() {
                $.ajax({
                    url: "http://localhost:54042/yuwang/Manage/GetRegisteredMembers",
                    type: 'POST',
                    //成功之後，會收到Server端返回的資料，也就是自訂的型別ReportData
                    //有兩個屬性可以用
                    success: function (result) {
                        members_register_chart.series[0].setData(result.consumers_per_month);
                        members_register_chart.series[1].setData(result.restaurants_per_month);
                    },
                    cache: false
                });

            }


            //非同步回傳台北市的餐廳所在的區資料
            function GetResAreas() {
            $.ajax({
                url: "@Url.Action("GetResAreas")",
                type: 'POST',
                data:{cityId:1},
                success: function (result) {
                    console.log(result);
                    pie_chart.series[0].setData(result);

                },
                cache: false
            });

            }


            //非同步回傳台北市的會員所在的區資料
            function GetMemAreas() {
                $.ajax({
                    url: "@Url.Action("GetMemAreas")",
                    type: 'POST',
                    data:{cityId:1},
                    success: function (result) {
                        console.log(result);
                        pie_chart_member.series[0].setData(result);
                    },
                    cache: false
                });

            }

            bar_chart_sales = new Highcharts.Chart({//chart1就是這個圖表本身，可以在建立完成後操作
                chart: {
                    renderTo: 'bar_chart_sales',//目標的div
                    type: 'bar'//圖表的種類,
                },
                title: {
                    text: 'Fruit Consumption'//標題
                },
                xAxis: {//x軸
                    categories: ['Apples', 'Bananas', 'Oranges']
                },
                yAxis: {//y軸
                    title: {
                        text: 'Fruit eaten'
                    }
                },
                series: [{//這裡是圖表的資料
                    name: 'Jane',
                    data: [1, 0, 4]
                }, {
                    name: 'John',
                    data: [5, 7, 3]
                }]
            });
        })
    </script>
}


<h2>ChartReport</h2>


<div class="container">

    <div class="row">

        <div class="col-lg-3" id="leftside">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">報表管理</h3>
                </div>
                <div>
                    <button class="btn btn-info" id="memeber_manage">會員管理</button>
                </div>
                <div>
                    <button class="btn btn-info" id="report">報表</button>
                </div>
            </div>
        </div>


        <div class="col-lg-9" >

            <div id="members_register_chart" class="chart"></div>

            <div id="pie_chart" class="chart"></div>

            <div id="pie_chart_member" class="chart"></div>

            <div id="bar_chart_sales" class="chart"></div>
        </div>
    </div>
</div>


