/* General styles for all menus */
.cbp-spmenu {
	background: #f9a043;	
}

.cbp-spmenu h3 {
	color: #ffffff;	
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #ff5400;
    text-align:center;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
    font-family:'DFKai-sb';
    text-align:center;
}

.cbp-spmenu a:hover {
	background: #ff0000;
    font-family:'DFKai-sb';
    font-size:20px;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {	
	height: 100%;
	top: 0;	
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #ffffff;
	padding: 1em;
    font-family:'º–∑¢≈È';
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}



.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}




/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}