@model FoodDeliveryTemplete.Models.tAdvertisement_Article


@{
    ViewBag.Title = "AdvertisementRotation";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminIndexPage.cshtml";
}

<h2>廣告內容</h2>
<h2>@Model.fSubject</h2>
<p>@Html.Raw(Model.fContentText)</p>

