
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Blog/_BlogPage.cshtml";
}

<h2>Index</h2>



@section script
{

<script>
    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.messagesHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.updateMessages = function () {
            getAllMessages()

        };
        // Start the connection.
        $.connection.hub.start({ transport: 'longPolling' }).done(function () {
            getAllMessages();
        }).fail(function (e) {
            alert(e);
        });
    });


    function getAllMessages()
    {
        var msgURL = "@Url.Action("GetMessages", "Message")";
        var tbl = $('#messagesTable');
        $.ajax({
            url: msgURL,
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            tbl.empty().append(result);
        }).error(function () {

        });
    }
</script>    
}