
@{
    ViewBag.Title = "FoodCategory";
    Layout = "~/Areas/Restaurant/Views/Restaurant/_RestaurantPage.cshtml";
}
@section style{
    <style>
        body {
            background-color: #525252;
        }

        .formcolor {
            background-color: #f7decd;
        }
    </style>
}

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <h2>分類設定</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

