<h3 style="color:lightskyblue">
    <strong>趕快把我加到您的最愛吧</strong>
</h3>
<a class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-heart"></span> 加到我的最愛 </a>
