@model FoodDeliveryTemplete.ViewModels.CountLikeViewModel

<h3 style="color:skyblue">
    <strong> @Model.CountLike 個人說讚</strong>
</h3>
<a class="btn btn-success btn-block givelike"><span class="glyphicon glyphicon-thumbs-up"></span> 給一個讚 </a>
