@model FoodDeliveryTemplete.ViewModels.CountLikeViewModel

<h3 style="color:skyblue">    
    <strong> @Model.CountLike 個人說讚</strong>
</h3>
<a class="btn btn-info btn-block takebacklike" ><span class="glyphicon glyphicon-share"></span> 把讚收回 </a>